@using UkupholisaHealthcare.Library.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
@model List<MedicalCondition>
@{
    <div class="container">
        <h1 class="text-center">Medical Condition Manager</h1>
        <hr />
        <a class="btn btn-outline-primary" asp-action="CreateView">Add new Medical Condition to database</a>
        <div class="row">
            <form class="form-inline" asp-action="Filter">
                <div class="row mt-3">
                    <div class="col-8">
                        <input class="form-control" type="text" id="ConditionName" name="ConditionName" placeholder="Search for a Medical Condition" required />
                    </div>
                    <div class="col-4">
                        <input class="btn btn-outline-primary btn-block" type="submit" value="Search" />
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <td>Id</td>
                    <td>Treatment Id</td>
                    <td>Condition Name</td>
                    <td>Description</td>
                    <td>Manage</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var medicalCondition in Model)
                {
                    <tr>
                        <td>@medicalCondition.Id</td>
                        <td>@medicalCondition.Treatement_Id</td>
                        <td>@medicalCondition.ConditionName</td>
                        <td>
                            <a class="btn btn-outline-success" asp-action="ViewFull" asp-route-id="@medicalCondition.Id">View Description</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-info" asp-action="EditPage" asp-route-id="@medicalCondition.Id">Edit</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@medicalCondition.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts
    {
    <script>
        $('.list-group-item').removeClass('active');
        $('#medLink').addClass('active');
    </script>
}

