@model IEnumerable<UkupholisaHealthcare.Library.Models.Treatment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1 class="text-center">Treatment Manager</h1>
<hr />
<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create new Treatment</a>
    <form class="form-inline" asp-action="Filter">
                <div class="row mt-3">
                    <div class="col-8">
                        <input class="form-control" type="text" id="TreatmentName" name="TreatmentName" placeholder="Search for a Treatment" required />
                    </div>
                    <div class="col-4">
                        <input class="btn btn-outline-primary btn-block" type="submit" value="Search" />
                    </div>
                </div>
            </form>
</p>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var treatment in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => treatment.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => treatment.TreatmentName)
            </td>
            <td>
                    <a class="btn btn-outline-success" asp-action="FullView" asp-route-id="@treatment.Id">View Treatment</a>
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="EditView" asp-route-id="@treatment.Id">Edit</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@treatment.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
    {
    <script>
        $('.list-group-item').removeClass('active');
        $('#treatmentLink').addClass('active');
    </script>
}
