@model IEnumerable<UkupholisaHealthcare.Library.Models.Treatment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1 class="text-center">Treatment Manager</h1>
<hr />
<p>
    <a class="btn btn-outline-primary" asp-action="CreateView"><i class="fa-solid fa-plus"></i> Create new Treatment</a>
    <form class="form-inline" asp-action="Filter">
        <div class="row mt-3">
            <div class="col-8">
                <input class="form-control" type="text" id="TreatmentName" name="TreatmentName" placeholder="Search for a Treatment" required />
            </div>
            <div class="col-4">
                <button class="btn btn-outline-primary btn-block" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> Search</button>
            </div>
        </div>
    </form>
</p>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
          
            <th>
                Manage
            </th>
            <th>
                Delete
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var treatment in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => treatment.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => treatment.TreatmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => treatment.Days)
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-action="ViewFull" asp-route-id="@treatment.Id"><i class="fa-solid fa-eye"></i> View Treatment</a>
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="EditView" asp-route-id="@treatment.Id"><i class="fa-solid fa-pencil"></i> Edit</a>

                </td>
                <td>
                    <form asp-action="Delete" method="OnGetDelete" asp-route-id="@treatment.Id"
                      onclick="return confirm('Are you sure you want to delete this?')">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt text-white"></i> Delete</button>
                    </form>
            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script>
        $('.list-group-item').removeClass('active');
        $('#treatmentLink').addClass('active');
    </script>
}
