@using UkupholisaHealthcare.Library.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
@model List<Provider>
@{
    <div class="container">
        <h1 class="text-center">Provider Management</h1>
        <hr />
            <a class="btn btn-outline-primary" asp-action="CreateView">Add new provider to database</a>
            <a class="btn btn-outline-primary" asp-action="Index">Refresh Grid</a>
        <div class="row">
            <form class="form-inline" asp-action="Filter">
                <div class="row mt-3">
                    <div class="col-8">
                        <input class="form-control" type="text" id="providerName" name="providerName" placeholder="Search for a provider" required />
                    </div>
                    <div class="col-4">
                        <input class="btn btn-outline-primary btn-block" type="submit" value="Search" />
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <td>Id</td>
                    <td>Provider Name</td>
                    <td>Provider Address</td>
                    <td>Provider Contact</td>
                    <td>Treatments offered by Provider</td>
                    <td>Manage</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var provider in Model)
                {
                    <tr>
                        <td>@provider.Id</td>
                        <td>@provider.ProviderName</td>
                        <td>@provider.ProviderAddress</td>
                        <td>@provider.ProviderContact</td>
                        <td>
                            <a class="btn btn-outline-success" asp-action="ProviderTreatmentView" asp-route-id="@provider.Id">View Treatments</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-info" asp-action="EditPage" asp-route-id="@provider.Id">Edit</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@provider.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts
    {
    <script>
        $('.list-group-item').removeClass('active');
        $('#providerLink').addClass('active');
    </script>
}