@model UkupholisaHealthcare.Library.Models.Client

@{
    ViewData["Title"] = "EditView";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1>Edit Client</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" value="@Model.Id"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyLink_Id" class="control-label"></label>
                <input asp-for="FamilyLink_Id" class="form-control" value="@Model.FamilyLink_Id" />
                <span asp-validation-for="FamilyLink_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" value="@Model.Firstname"/>
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" value="@Model.Surname"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" value="@Model.Age"/>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" value="@Model.Gender"/>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" value="@Model.Address"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" value="@Model.EmailAddress"/>
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cellphone" class="control-label"></label>
                <input asp-for="Cellphone" class="form-control" value="@Model.Cellphone"/>
                <span asp-validation-for="Cellphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberType" class="control-label"></label>
                <input asp-for="MemberType" class="form-control" value="@Model.MemberType"/>
                <span asp-validation-for="MemberType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Client_UID" class="control-label"></label>
                <input asp-for="Client_UID" class="form-control" />
                <span asp-validation-for="Client_UID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
