@using UkupholisaHealthcare.Library.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
@model List<FamilyLink>
@{
    <div class="container">
    <h1 class="text-center">Client Manager</h1>
        <a class="btn btn-outline-primary" asp-action="CreateView">Add Family to Database</a>
        <div class="row">
            <form class="form-inline" asp-action="Filter">
                <div class="row mt-3">
                    <div class="col-8">
                        <input class="form-control" type="text" id="familyName" name="familyName" placeholder="Search for a Family" required />
                    </div>
                    <div class="col-4">
                        <input class="btn btn-outline-primary btn-block" type="submit" value="Search" />
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <td>Id</td>
                    <td>Family Name</td>
                    <td>DateCreated</td>
                    <td>View Members</td>
                    <td>Manage</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var family in Model)
                {
                    <tr>
                        <td>@family.Id</td>
                        <td>@family.FamilyName</td>
                        <td>@family.DateCreated</td>
                        <td>
                            <a class="btn btn-outline-success" asp-action="ViewMembers" asp-route-id="@family.Id">View Members</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-info" asp-action="EditView" asp-route-id="@family.Id">Edit</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@family.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts
{
    <script>
        $('.list-group-item').removeClass('active');
        $('#clientLink').addClass('active');
    </script>
}

