@using UkupholisaHealthcare.Library.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
@model List<Client>
@{
    <div class="container">
        <h1 class="text-center">Members of the <strong>@Model[0].Surname</strong> Family</h1>
        <hr />
        <a class="btn btn-outline-primary" asp-action="Index">Back to Family View</a>
        <div class="row">
            <form class="form-inline" asp-action="Filter">
                <div class="row mt-3">
                    <div class="col-8">
                        <input class="form-control" type="text" id="FirstName" name="FirstName" placeholder="Search for a Client in Database" required />
                    </div>
                    <div class="col-4">
                        <button class="btn btn-outline-primary btn-block" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <table class="table table-hover table-responsive">
            <thead class="table-dark">
                <tr>
                    <td>Id</td>
                    <td>Firstname</td>
                    <td>Surname</td>
                    <td>Age</td>
                    <td>Gender</td>
                    <td>Email</td>
                    <td>MemberType</td>
                    <td>Active Member</td>
                    <td>Manage</td>
                    <td>Delete</td>

                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)
                {
                    <tr class="align-middle">
                        <td>@member.Id</td>
                        <td>@member.Firstname</td>
                        <td>@member.Surname</td>
                        <td>@member.Age</td>
                        <td>@member.Gender</td>
                        <td>@member.EmailAddress</td>
                        @if (member.MemberType == "AcountHolder")
                        {
                            <td>
                                <span class="badge bg-primary">AccountHolder</span>
                            </td>
                        }
                        else if(member.MemberType == "Adult")
                        {
                            <td>
                                <span class="badge bg-warning">@member.MemberType</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span class="badge bg-info">@member.MemberType</span>
                            </td>
                        }                       
                        @if (@member.IsActive)
                        {
                            <td>
                                <p><span class="badge bg-success">Active</span></p>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span class="badge bg-danger">Not Active</span>
                            </td>
                        }
                        <td>
                            <a class="btn btn-outline-info" asp-action="EditView" asp-route-id="@member.Id"><i class="fa-solid fa-pencil"></i> Edit</a>
                           
                        </td>
                        <td>
                            <form asp-action="Delete" method="OnGetDelete" asp-route-id="@member.Id"
                          onclick="return confirm('Are you sure you want to delete this?')">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt text-white"></i> Delete</button>
                            </form>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}