@model IEnumerable<UkupholisaHealthcare.Library.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1 class="text-center">Employee Management</h1>
<hr />
<p>
    <a class="btn btn-outline-primary" asp-controller="Login" asp-action="CreatePage">Create New Employee</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password) Hash
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script>
        $('.list-group-item').removeClass('active');
        $('#userLink').addClass('active');
    </script>
}