@model IEnumerable<UkupholisaHealthcare.Library.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1 class="text-center">Employee Management</h1>
<hr/>
<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New Employee</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts 
{
<script>
    $('.list-group-item').removeClass('active');
    $('#userLink').addClass('active');
</script>
}